<div class="col-lg-8 offset-md-2">
    <section id="bio-summary">

        <style>
            .h1inline,
            .h2inline {
                display: inline;
            }

            .h1c {
                display: flex;
                flex-direction: row;
            }

            .h1c:before,
            .h1c:after {
                content: "";
                flex: 0.3 0.3;
                border-bottom: 3px solid rgb(201, 201, 201);
                margin: auto;
            }

            .h1c:before {
                margin-right: 20px
            }

            .h1c:after {
                margin-left: 20px
            }
        </style>

        <h1 class="h1c">PhD studies &nbsp;<em><b>(Current)</b></em>&nbsp;</h1>

        <p>
            I am currently a Doctoral Assistant at the <a href="https://www.epfl.ch/en/"><b><em><em><b>École
                                polytechnique
                                fédérale de Lausanne</b></em> (aka EPFL)</em></b></a>
            pursuing my PhD in the <a
                href="https://www.epfl.ch/education/phd/programs/edrs-robotics_control_and_intelligent_systems/"><em><b>Program
                        for
                        Robotics, Control and Intelligent Systems (EDRS)</b></em></a>.
        </p>
        </br>

        <p>
            As part of my PhD I am affiliated with the <a href="http://mobots.epfl.ch/"><em><b>Mobots team</b></em></a>
            of
            EPFL's <a href="https://www.epfl.ch/labs/biorob/"><b><em>Biorobotics laboratory</em></b></a>, where I am
            conducting research under the
            supervision of <a href="https://scholar.google.com/citations?user=HdRZK14AAAAJ&hl=en&oi=ao"><b><em>Prof.
                        Francesco
                        Mondada</em></b></a>. Along with my research duties I am actively involved in teaching for
            various
            courses taught in the Masters of Robotics of EPFL.
        </p>

        <p>
            My current work focuses on disentangling the social interactions of shoals of fish by leveraging machine
            learning models which will ultimately allow for real-time interactions with an in-house robotic fish.
        </p>

        <p>
            My work is funded by the EPFL and the <a
                href="http://www.snf.ch/en/Pages/default.aspx"><b><em>SNSF</em></b></a>.
        </p>

        <div class="row justify-content-center">
            <div class="col">
                <img src="/assets/img/logos/logo_epfl.png" style="width: 85%; max-width: 300px;">
            </div>
            <div class="col">
                <img src="/assets/img/logos/logo_snsf.png" style="width: 85%; max-width: 300px;">
            </div>
        </div>

        </br>

        <h1 class="h1c">Undergraduate studies</h1>

        <p>
            I hold a Dipl. Eng. degree from the <a href="https://www.ceid.upatras.gr/en"><b><em>Computer Engineering
                        &
                        Informatics Department (CEID)</em></b></a> which belongs Polytechnic school of the <a
                href="http://www.upatras.gr/en"><b><em>University
                        of Patras</em></b></a>, Greece that was awarded to me in November 2017. I completed my
            thesis one
            year earlier in
            <a href=https://www.inria.fr/en"><b><em>Inria Nancy Grand-Est</em></b></a> in France under the
            joint supervision of <a href="https://scholar.google.gr/citations?hl=en&user=RPWrgsgAAAAJ"><b><em>Prof.
                        Ioannis
                        Hatzilygeroudis</em></b></a> from CEID and <a
                href="https://scholar.google.gr/citations?user=lp8V_UYAAAAJ&hl=en&oi=ao"><b><em>Dr. Jean-Baptiste
                        Mouret</em></b></a> from Inria. My thesis was entitled <em><b>"Robot damage recovery with
                    safety
                    constraints"</b></em> (see related publication <a
                href="https://arxiv.org/abs/1611.09419"><b><em>here</em></b></a>).
            Throughout this period,
            I had the chance to work alongside some excellent researchers of Inria's <a
                href="https://team.inria.fr/larsen/"><b><em>Larsen team</em></b></a> that I consider to have
            contributed towards the
            completion of my thesis, namely; <a
                href="https://scholar.google.gr/citations?hl=en&user=tnf6B-EAAAAJ"><b><em>Dr. Konstantinos
                        Chatzilygeroudis</em></b></a> and <a
                href="https://scholar.google.gr/citations?user=_Hzp2B0AAAAJ&hl=en"><b><em>Dr. Vassilis
                        Vassiliades</em></b></a>.
        </p>

        <p>
            My work was funded by the ERC "<a href="https://www.resibots.eu/"><b><em>Resibots</em></b></a>" project.
        </p>

        <div class="row align-items-center justify-content-center">
            <div class="col">
                <div class="row align-items-center justify-content-center">
                    <img src="/assets/img/logos/logo-inria.png" style="height: 75px;">
                    <img src="/assets/img/logos/logo_univ_lorraine.png" style="height: 75px;">
                </div>
            </div>
            <div class="col">
                <img src="/assets/img/logos/logo-loria.png" style="height: 120px;">
            </div>
            <div class="col">
                <img src="/assets/img/logos/logo_erc_official.png" style="height: 120px;">
            </div>
            <div class="col">
                <img src="/assets/img/logos/logo_larsen.png" style="height: 120px;">
            </div>
            <div class="col">
                <img src="/assets/img/logos/logo_resibots.png" style="height: 120px;">
            </div>
        </div>

    </section>
</div>